---
import { getCollection } from "astro:content";
import GetInvolved from "./GetInvolved.astro";
import TeamComponent from "./TeamComponent.astro";
import TechnologiesStacks from "./TechnologiesStacks.astro";
import UpcomingEventComponent from "./home/UpcomingEventComponent.astro";

import { Content as AboutMarkdownDE } from "@/data/about/about-community-de.md";
import { Content as AboutMarkdown } from "@/data/about/about-community.md";

const events = await getCollection("events");
events.sort((a, b) => +b.data.pubDate - +a.data.pubDate);
const upcomingEvent = events[0];

interface Props {
  t: Record<string, string>;
  lang: string;
}

const { t, lang } = Astro.props;
---

<div class="-my-20">
  <UpcomingEventComponent t={t} data={upcomingEvent} reverse />

  <div
    class="prose prose-lg dark:prose-invert dark:prose-headings:text-slate-300 prose-md -mt-24"
  >
    <h1
      class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
      set:html={t["home.about"]}
    />

    {lang === "de" ? <AboutMarkdownDE /> : <AboutMarkdown />}
  </div>

  <!-- <LandingHero t={t} lang={lang} /> -->

  <TeamComponent t={t} />

  <div class="my-4">
    <TechnologiesStacks t={t} />
  </div>

  <div class="my-4">
    <GetInvolved t={t} />
  </div>
  <!-- 
  <MeetupFAQ t={t} lang={lang} /> -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    linkText="View All Posts"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</div>
