---
import { defaultLang, languages, tr } from "@utils/i18n";
import { getCurrentLang } from "@utils/navigation";
import { getCollection } from "astro:content";
import BlogLatestPosts from "./BlogLatestPosts.astro";
import Features3 from "./Features3.astro";
import GetInvolved from "./GetInvolved.astro";
import MeetupFAQ from "./MeetupFAQ.astro";
import SponsorsComponent from "./SponsorsComponent.astro";
import TeamComponent from "./TeamComponent.astro";
import TechnologiesStacks from "./TechnologiesStacks.astro";
import LandingHero from "./home/LandingHero.astro";
import UpcomingEventComponent from "./home/UpcomingEventComponent.astro";

const appStoreImg = "~/assets/images/app-store.png";
const appStoreDownloadLink = "https://github.com/onwidget/astrowind";

const googlePlayImg = "~/assets/images/google-play.png";
const googlePlayDownloadLink = "https://github.com/onwidget/astrowind";

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "de" } }];
}

const currentPath = Astro.url.pathname;
const lang = getCurrentLang(currentPath, languages, defaultLang);
const t = tr[lang as keyof typeof tr];

const events = await getCollection("events");
events.sort((a, b) => +b.data.pubDate - +a.data.pubDate);
const upcomingEvent = events[0];
---

<UpcomingEventComponent t={t} data={upcomingEvent} reverse />

<LandingHero t={t} lang={lang} />

<!-- <HomePageHero t={t} lang={lang} /> -->

<!-- <Hero2
  tagline="Long-form Sales Demo"
  title="Long-form Sales: Sell with a Story: The Long-form Way!"
  subtitle="Dive deep into crafting a Landing Page that narrates, persuades, and converts."
  actions={[
    {
      variant: "primary",
      text: "Call to Action",
      href: "#",
      icon: "tabler:square-rounded-arrow-right",
    },
    { text: "Learn more", href: "#" },
  ]}
  image={{
    src: "https://images.unsplash.com/photo-1621452773781-0f992fd1f5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1626&q=80",
    alt: "Children telling a story. Long-form Sales Landing Page demo",
  }}
/>
-->
<!-- <Hero2
  tagline="Mobile App Web Demo"
  image={{
    src: "https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80",
    alt: "AstroWind Hero Image",
  }}
>
  <Fragment slot="title">
    <span class="text-accent dark:text-white highlight">AstroWind App</span>: <br
    /> professional websites <span class="hidden xl:inline">made easy</span>
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      Unlock boundless creativity at your fingertips: your gateway to innovative
      design.
    </span>
    Download now and embark on a journey to elevate your projects like never before.
  </Fragment>

  <div slot="actions" class="flex max-w-sm gap-4">
    <Button variant="link" href={appStoreDownloadLink}>
      <Image src={appStoreImg} alt="App Store Image" width={200} />
    </Button>

    <Button variant="link" href={googlePlayDownloadLink}>
      <Image src={googlePlayImg} alt="Google Play Image" width={200} />
    </Button>
  </div>
</Hero2> -->

<Features3
  id="features"
  title="How to use our app?"
  subtitle="Tired of spending hours crafting documents from scratch? Our app offers an innovative solution. With a wide array of professionally designed templates, you can now create stunning documents in minutes. Explore our templates now and experience the difference."
  tagline="Step-by-step guide"
  columns={2}
  items={[
    {
      title: "Download and install the app",
      description: `Begin your journey by downloading our user-friendly app from your device's app store or our official website.`,
      icon: "tabler:square-number-1",
    },
    {
      title: "Sign up",
      description:
        "Create your account by providing the necessary information, enabling you to access our full range of features.",
      icon: "tabler:square-number-2",
    },
    {
      title: "Browse templates",
      description:
        "Explore our diverse collection of website templates, categorized for easy navigation.",
      icon: "tabler:square-number-3",
    },
    {
      title: "Preview and select a template",
      description: `Visualize the potential of each template through previews, then choose the one that aligns best with your project's needs.`,
      icon: "tabler:square-number-4",
    },
  ]}
  image={{
    src: "https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80",
    alt: "Colorful Image",
  }}
/>

<!-- Features3 Widget ************** -->

<TeamComponent t={t} />

<SponsorsComponent t={t} />

<div class="my-4">
  <GetInvolved t={t} />
</div>

<TechnologiesStacks t={t} />

<MeetupFAQ t={t} lang={lang} />

<!-- <Stats
  title="Statistics about us"
  stats={[
    { title: "Offices", amount: 4 },
    { title: "Employees", amount: 248 },
    { title: "Templates", amount: 12 },
    { title: "Awards", amount: 24 },
  ]}
/>

<Stats
  title="Statistics of our app"
  stats={[
    { amount: "20K", icon: "tabler:download" },
    { amount: "18.5K", icon: "tabler:users" },
    { amount: "4.7", icon: "tabler:user-star" },
  ]}
/> -->

<BlogLatestPosts
  id="blog"
  title="Explore my insightful articles on my blog"
  linkText="View All Posts"
  information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</BlogLatestPosts>
