---
import Image from "@/components/Image.astro";
import type { TeamMemberLink } from "@/data/about/team";
import type { ImageAttrs } from "@/types";
import { Icon } from "astro-icon/components";
import { twMerge } from "tailwind-merge";

interface Props {
  t: Record<string, string>;
  containerClass: string;
  imageClass: string;
  panelClass: string;
  nameClass: string;
  occupationClass: string;
  itemsClass: string;
  occupation: string;
  name: string;
  image: ImageAttrs;
  items: TeamMemberLink[];
}

const {
  t,
  image,
  containerClass,
  panelClass,
  nameClass,
  itemsClass,
  occupationClass,
  occupation,
  name,
  imageClass,
  items,
} = Astro.props;
---

<div class={twMerge("", containerClass)}>
  <!-- <Image src={image} width={240} height={320} class={twMerge('', imageClass)} /> -->

  <Image
    src={image.src}
    class={imageClass}
    width={240}
    height={320}
    alt={image.alt}
  />

  <div class={twMerge("", panelClass)}>
    <h3 class={twMerge("", nameClass)}>{name}</h3>
    <p class={twMerge("", occupationClass)}>{occupation}</p>
    <ul class={twMerge("", itemsClass)}>
      {
        items &&
          items.map((icon) => (
            <li class="m-1 flex items-center justify-center rounded text-primary-700 hover:text-gray-500">
              <a
                href={icon.href}
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center justify-center rounded-sm bg-transparent p-0.5 text-primary-900 hover:bg-primary-900 hover:text-slate-200 hover:dark:bg-slate-800 hover:dark:text-slate-200"
              >
                <Icon name={icon.icon} class="h-6 w-6 p-0.5" />
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</div>
