---
import type { Link } from "@/types";
import { createLocalizedPath } from "../utils/navigation";
import LanguagePicker from "./LanguagePicker.astro";
import MobileMenu from "./MobileMenu.astro";
import ToggleTheme from "./ui/ToggleTheme.astro";

interface Props {
  lang: string;
  currentPath: string;
  t: Record<string, string>;


  isSticky?: boolean;
  showToggleTheme?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;

  navItems: Link[];
  links: Link[];
}

const { lang, currentPath, t, isSticky = false, isDark = false, showToggleTheme = true, navItems } = Astro.props;

---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    "top-0 z-40 flex-none w-full border-b border-gray-50/0 transition-[opacity] ease-in-out",
  ]}
  {...isSticky ? { "data-aw-sticky-header": true } : {}}
>
<nav class="max-w-6xl mx-auto px-4 py-6">
  <div class="flex justify-between items-center">
    <a
      href={createLocalizedPath(lang, "")}
      class="text-gray-900 text-2xl font-bold hover:text-primary"
    >
      MobileHeads Austria
    </a>

    <!-- Desktop Navigation -->
    <div class="hidden md:flex items-center space-x-8">
      <ul class="flex space-x-6">
        {
          navItems && (navItems.map((item) => (
            <li>
              <a
                href={createLocalizedPath(lang, item.href ?? "")}
                class="text-gray-900 dark:text-red hover:text-primary"
              >
                {t[item.key as keyof typeof t]}
              </a>
            </li>
          ))
        )}
      </ul>

    <div class="items-center flex justify-between w-full md:w-auto">
      <div class="flex mx-2">
        {showToggleTheme && <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 md:inline-block" />}
        <div class="mx-4"><LanguagePicker currentLang={lang} currentPath={currentPath} /></div>
      </div>
    </div>

    </div>

    <!-- Mobile Menu Button -->
    <button id="menuButton" class="md:hidden text-gray-900">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</nav>
</header>
<MobileMenu lang={lang} t={t} currentPath={currentPath} navItems={navItems}/>
