---
import Header from "@/components/Header.astro";
import Footer from "@/components/widgets/Footer.astro";
import Layout from "@/layouts/Layout.astro";

import { footerData, headerData } from "@/navigation";

import type { MetaData } from "@/types";
import { defaultLang, languages, tr } from "@utils/i18n";
import { getCurrentLang, getPathWithoutLang } from "@utils/navigation";

const currentPath = Astro.url.pathname;
const pathWithoutLang = getPathWithoutLang(currentPath);
const lang = getCurrentLang(currentPath, languages, defaultLang);
const t = tr[lang as keyof typeof tr];

export interface Props {
  metadata?: MetaData;
  title?: string;
}

const { metadata, title } = Astro.props;
---

<Layout metadata={metadata} title={title}>
  <slot name="header">
    <Header
      lang={lang}
      currentPath={pathWithoutLang}
      t={t}
      {...headerData}
      showToggleTheme
    />
  </slot>
  <main class="container mx-auto px-4 py-0">
    <slot />
  </main>

  <slot name="footer">
    <Footer
      links={[]}
      secondaryLinks={footerData.secondaryLinks}
      socialLinks={footerData.socialLinks}
      t={t}
    />
  </slot>
</Layout>
